@import '../../components/variables/variables.scss';
@import '../../../public/assets/CSS/main.scss';

.reset_p {
    text-align: center;
    color: $yellow;
    font-weight: 300;
    margin-top: 3em;
    text-transform: capitalize;
    cursor: pointer;
}